<?xml version="1.0" encoding="utf-8"?>

<robot
    xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="build_dog">

        <xacro:include filename="$(find dog_model)/urdf/defines.xacro" />
        <xacro:include filename="$(find dog_model)/urdf/leg.xacro" />
        <xacro:include filename="$(find dog_model)/urdf/materials.xacro" />

        <link
            name="torso">
            <inertial>
                <origin
                    xyz="0.00046238 0  0.00010840"
                    rpy="0 0 0" />
                <mass
                    value="3.588" />
                <inertia
                    ixx="0.02923416"
                    ixy="0"
                    ixz="0.00007328"
                    iyy="0.07723917"
                    iyz="0"
                    izz="0.10235971" />
            </inertial>
            <visual>
                <origin
                    xyz="0 0 0"
                    rpy="0 0 0" />
                <geometry>
                    <mesh
                        filename="package://dog_model/meshes/visualization/torso.stl" />
                </geometry>
                <material
                    name="white" />
            </visual>
            <collision>
                <origin
                    xyz="0 0 0"
                    rpy="0 0 0" />
                <geometry>
                    <box size="${TORSO_COLL_LEN} ${TORSO_COLL_WIDTH} ${TORSO_COLL_HEIGHT}" />
                </geometry>
            </collision>
        </link>

        <link name="fl_base">
            <xacro:dummy_inertial />
        </link>

        <joint name="fl_base_fixed" type="fixed">
            <parent link="torso" />
            <child link="fl_base" />
            <origin xyz="${HIP_POS_X} ${HIP_POS_Y} 0" rpy="0 0 0" />
        </joint>

        <xacro:attach_leg
            leg_name="fl" parent_name="fl_base" xflip="1" yflip="1" />

        <link name="fr_base">
            <xacro:dummy_inertial />
        </link>

        <joint name="fr_base_fixed" type="fixed">
            <parent link="torso" />
            <child link="fr_base" />
            <origin xyz="${HIP_POS_X} ${- HIP_POS_Y} 0" rpy="0 0 0" />
        </joint>

        <xacro:attach_leg
            leg_name="fr" parent_name="fr_base" xflip="1" yflip="-1" />

        <link name="bl_base">
            <xacro:dummy_inertial />
        </link>

        <joint name="bl_base_fixed" type="fixed">
            <parent link="torso" />
            <child link="bl_base" />
            <origin xyz="${- HIP_POS_X} ${HIP_POS_Y} 0" rpy="0 0 0" />
        </joint>

        <xacro:attach_leg
            leg_name="bl" parent_name="bl_base" xflip="-1" yflip="1" />

        <link name="br_base">
            <xacro:dummy_inertial />
        </link>

        <joint name="br_base_fixed" type="fixed">
            <parent link="torso" />
            <child link="br_base" />
            <origin xyz="${- HIP_POS_X} ${- HIP_POS_Y} 0" rpy="0 0 0" />
        </joint>

        <xacro:attach_leg
            leg_name="br" parent_name="br_base" xflip="-1" yflip="-1" />

    </xacro:macro>

</robot>

