<?xml version="1.0"?>

<launch>

    <arg name="debug" default="false" />

    <node unless="$(arg debug)" name="dog_ros" pkg="dog_ros" type="dog_ros_node"
        output="screen" >
        <param name="config_file" value="$(find dog_ros)/../dog_control/config/dog_config.lua" />
        <remap from="/dog_ros/imu" to="/dog/imu" />
        <remap from="/dog_ros/joint_state" to="/dog/joint_states" />
        <remap from="/dog_ros/joint_cmd" to="/dog/gazebo_pve_controller/command" />
    </node>

    <node if="$(arg debug)" name="dog_ros" pkg="dog_ros" type="dog_ros_node"
        output="screen"
        launch-prefix="gdb -ex run --args " >
        <param name="config_file" value="$(find dog_ros)/../dog_control/config/dog_config.lua" />
        <remap from="/dog_ros/imu" to="/dog/imu" />
        <remap from="/dog_ros/joint_state" to="/dog/joint_states" />
        <remap from="/dog_ros/joint_cmd" to="/dog/gazebo_pve_controller/command" />
    </node>

</launch>

