<?xml version="1.0"?>

<launch>
  <arg name="add_tail" default="false" />

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam if="$(arg add_tail)"
    file="$(find dog_model)/config/controllers_tail.yaml" command="load" />
  <rosparam unless="$(arg add_tail)"
    file="$(find dog_model)/config/controllers.yaml" command="load" />

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
	output="screen" ns="/dog" args="
      joint_state_controller
      gazebo_pve_controller" />

</launch>
